body 
{ background-image: url('imagens/aliancas.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
} 
.principal { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui espaço uniformemente entre as colunas */ 
} 
.coluna1, .coluna2, .coluna3, .coluna4, .coluna5 {
    flex-basis: 18%; /*cada coluna ocupa 18% do espaço, ajustando para 5 colunas*/
    flex-grow: 1; 
    align-items: center; 
    margin: 1%; 
    text-align: center; /* Centraliza o texto nas colunas */ 
} 
img {
    max-width: 100%; /*Garante que as imagens não ultrapassem 100%*/
    height: auto; 
    margin-bottom: 10px; /* Adiciona espaçamento entre as imagens */ 
} 
.coluna3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagem-grande{
    max-width: 140%;
    height: auto;
    margin:20px auto;
    display:block;
}
h1 { 
    text-align: center;
     font-size: 4.5em; 
     background: linear-gradient(90deg, #ffcc00, #ff66cc); 
     -webkit-background-clip: text; 
    color: transparent; 
    } 
/*CSS responsivo para dispositivos móveis*/
    @media(max-width:768px){
h1{
    font-size:2em;/*reduz o tamanho do título em dispositivos móveis*/
    }
.principal{
    overflow-x:auto;/*habilita rolagem horizontal para ver todas as colunas lado a lado*/
    gap:1%;
} 
    .coluna1, .coluna2, .coluna3, .coluna4, .coluna5 { 
        flex-basis: 40%; /* Reduz o tamanho em telas menores */ 
        min-width:200px;
    } 
    img {
        max-width: 90%; /* Reduz o tamanho das imagens em dispositivos móveis */ 
        } 
}
