body 
{ background-image: url('imagens/aliancas.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
} 
.principal { 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Distribui espaço uniformemente entre as colunas */ 
} 
.coluna1, .coluna2, .coluna3, .coluna4, .coluna5 {
    flex-basis: 18%; /*cada coluna ocupa 18% do espaço, ajustando para 5 colunas*/
    flex-grow: 1; 
    align-items: center; 
    margin: 1%; 
    text-align: center; /* Centraliza o texto nas colunas */ 
} 
img {
    max-width: 100%; /*Garante que as imagens não ultrapassem 100%*/
    height: auto; 
    margin-bottom: 10px; /* Adiciona espaçamento entre as imagens */ 
} 
.coluna2 img, .coluna5 img { 
    margin-bottom: 20px; /* Aumenta o espaçamento apenas para as imagens das colunas 2 e 5 */ 
} 
h1 { 
    text-align: center;
     font-size: 4.5em; 
     background: linear-gradient(90deg, #ffcc00, #ff66cc); 
     -webkit-background-clip: text; color: transparent; 
     -webkit-text-fill-color: transparent; /* Faz com que a cor do texto não seja preenchida */ 
     -webkit-background-clip: text; /* Clipa a imagem de fundo ao texto */ 
    } 
    .imagem-grande { 
        width: 150%; 
        height: auto;
        margin-left: -25%;
    }
/* CSS responsivo para dispositivos móveis */ 
@media (max-width: 768px) { 
    h1 { 
        font-size: 2em; /* Ajusta o tamanho do título em dispositivos móveis */ 
       } 
    .coluna1, .coluna2, .coluna3, .coluna4, .coluna5 { 
        flex-basis: 100%; /* As colunas ocupam 100% da largura */ 
    } 
    img { width: 90%; /* Reduz o tamanho das imagens em dispositivos móveis */ 
        } 
    .imagem-grande {
        max-width: 180%;
        margin-left: -40%;
    }
}
